@if (data.acao == 'cadastrar') {
<h2 mat-dialog-title>Cadastrar pessoa</h2>
} @else if (data.acao == 'editar') {
<h2 mat-dialog-title>Editando pessoa</h2>
} @else {
<h2 mat-dialog-title>Visualizando pessoa</h2>
}

<mat-dialog-content class="max-w-2xl min-w-96">
  <form class="flex flex-col mt-2 pt-3" [formGroup]="formData">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dataNascimento"
      />
      @if (data.acao != 'visualizar') {
      <mat-hint>DD/MM/YYYY</mat-hint>
      }

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" mask="(00) 00000-0000" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" mask="000.000.000-00" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  @if (data.acao !== 'visualizar') {
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="salvar()">Salvar</button>
  } @else {
  <button mat-button mat-dialog-close>Fechar</button>
  }
</mat-dialog-actions>
