<h2 mat-dialog-title>Excluir {{ data.nome }}?</h2>
<mat-dialog-content>
  <p>Tem certeza que deseja excluir {{ data.nome }}?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Não</button>
  <button mat-button (click)="confirmaExclusao()" style="color: red !important">
    Excluir
  </button>
</mat-dialog-actions>
