<div class="bg-green-700 p-4 text-white w-full">
  Integração e Entrega Contínua - Pós-graduação
</div>
<div class="p-4 border shadow-md">
  <div class="text-center font-semibold text-2xl">Lista de pessoas</div>
  <div class="flex lg:flex-row flex-col p-4 border gap-4 w-full items-center">
    <div class="flex-1">
      <div>Filtros de busca:</div>
      <form [formGroup]="formBusca" class="flex gap-4 flex-1">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" />
        </mat-form-field>        
      </form>
    </div>
    <div class="pt-2 flex gap-3">
      <div>
        <button mat-flat-button color="primary" (click)="buscar()">
          <mat-icon>search</mat-icon>
          Buscar
        </button>
      </div>
      <button mat-flat-button color="primary" (click)="cadastrarPessoa()">
        <mat-icon>add</mat-icon>
        Cadastrar pessoa
      </button>
    </div>
  </div>

  @if (consultandoPessoas) {
  <div class="flex flex-col items-center justify-center">
    <mat-spinner></mat-spinner>
    <div>Carregando pessoas</div>
  </div>
  } @else { @if (pessoasPaginacao.content) {
  <div>
    <table mat-table [dataSource]="pessoasPaginacao.content">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: right !important"
        >
          Ações
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="text-align: right !important"
        >
          <button
            mat-icon-button
            style="color: green !important"
            [matTooltip]="'Visualizar ' + element.nome"
            (click)="visualizarPessoa(element)"
          >
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button
            mat-icon-button
            style="color: blue !important"
            [matTooltip]="'Editar ' + element.nome"
            (click)="editarPessoa(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            style="color: red !important"
            [matTooltip]="'Excluir ' + element.nome"
            (click)="deletarPessoa(element)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="pessoasPaginacao.pageSize"
      [pageIndex]="pessoasPaginacao.page"
      [length]="pessoasPaginacao.count"
      (page)="handlePagination($event)"
    ></mat-paginator>
  </div>
  } @else {
  <div class="text-center font-semibold m-4">Nenhum resultado encontrado</div>
  } }
</div>
